<!DOCTYPE html>
<html>
  <head>
    <title>Dublin Bike</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px; 
        margin:0px auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    
  google.charts.load('current', {packages: ['corechart']});
</script>
  </head>
  <body>
    <h1>Dublin Bike</h1>
    <div id="map"></div>
    <div id="demo1" style="width: 900px; height: 500px" ></div>
    <div id="demo2"></div>
    <script>
    var map;
      function initMap() {
        // Create a map object and specify the DOM element for display.
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 53.350140, lng: -6.266155},
          scrollwheel: false,
          zoom: 13
        });
      }
       
        jQuery.getJSON("http://127.0.0.1:5000/all",null,function(data){
           //window.alert(JSON.stringify(data));
            var stations = data.stations;
           //window.alert(JSON.stringify(stations));
            _.forEach(stations,function(station){
                var marker = new google.maps.Marker({
                    position:{
                        lat:station.Position_lat,
                        lng:station.Position_lng
                    },
                    map:map,
                    title:station.Name,
                    station_number:station.Number
                });
                
                var contentString='<h2>'+'station no.'+station.Number+'</h2>' +'<br>' +station.Name+'</br>'+'<br>' +'available bikes: '+station.Available_bikes +'</br>'+'<br>' +'available bike stands: '+station.Available_bike_stands +'</br>'+'<br>'
                var infowindow = new google.maps.InfoWindow({
                content: contentString
                });
                marker.addListener("click",function(){
                    infowindow.open(map, marker);
                    document.getElementById("demo1").innerHTML = station.Number;
                    //alert("station " + station.Number + "\n" + station.Name + "\n" + "available bikes" + station.Available_bikes);
                    drawStationChartsWeekly(station.Number);});
                
                 marker.addListener("mouseout",function(){
                     infowindow.close(map, marker);
                    });
            })
    });
        
        
        function drawStationChartsWeekly(Number){
          //window.alert(Number);  
        jQuery.getJSON("http://127.0.0.1:5000/occupancy/" + Number,function(data){
            console.log('data',data);
            data = JSON.parse(data.data)
            var chart_data = new google.visualization.DataTable();
            chart_data.addColumn('datetime','Time of Day');
            chart_data.addColumn('number','number of available bike stands');
            
            _.forEach(data, function(row){
            chart_data.addRow([new Date(row[0]), row[1]]);
            })
            var options = {
            title: 'Available Bike stands',
            curveType: 'function',
            legend: { position: 'bottom' }
            };
            var chart = new google.visualization.LineChart(document.getElementById('demo1'));
            chart.draw(chart_data,options);
            
            //window.alert(JSON.stringify(data));
            
            //var node = document.createElement('div'),
            //infowindow = new google.maps.Infowindow(),
            //chart = new google.visualization.ColumnChart(node);
            
            
          
            //chart.draw(chart_data,options);
            //infowindow.setContent(node);
            //infowindow.open(marker.getMap(),marker);
        })//.fail(function(){
            //console.log("error");
        //});
        }
        
       
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGBryVvUO4uIGB-ARr3TQILDpEMwRCdx0&callback&callback=initMap"
    async defer></script>
  </body>
</html>